[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backcall = "*"
cachetools = "*"
certifi = "*"
chardet = "*"
decorator = "*"
google-api-core = "*"
google-auth = "*"
google-cloud-core = "*"
google-cloud-storage = "*"
google-resumable-media = "*"
googleapis-common-protos = "*"
idna = "*"
jedi = "*"
jupyter = "*"
jupyter-client = "*"
jupyter-core = "*"
kiwisolver = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
prompt-toolkit = "*"
protobuf = "*"
ptyprocess = "*"
pyasn1-modules = "*"
pyasn1 = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
pyzmq = "*"
requests = "*"
rsa = "*"
scipy = "*"
seaborn = "*"
six = "*"
torchsummary = "*"
torchvision = "*"
tornado = "*"
tqdm = "*"
traitlets = "*"
urllib3 = "*"
wcwidth = "*"
Cycler = "*"
ipython_genutils = "*"
Pillow = "*"
Pygments = "*"
torch = "*"
sklearn = "*"
python-dotenv = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
